@charset "UTF-8";

.container {
    display: grid;
    grid-template-rows: repeat(3, 100px);
    grid-template-columns: repeat(4, 1fr);
    gap: 3px;
}

.caixa1 {
    background-color: black;
    color: white;
    text-align: center;
    grid-row-start: -4;
    grid-row-end: -3;
    grid-column-start: -5;
    grid-column-end: -1;
}

.caixa2 {
    background-color: rgb(88, 88, 88);
    color: white;
    text-align: center;
    grid-row-start: 2;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 3;
}

.caixa3 {
    background-color: rgb(165, 165, 165);
    color: black;
    text-align: center;
    grid-row-start: 2;
    grid-row-end: 4;
    grid-column-start: 3;
    grid-column-end: 5;
}