@charset "UTF-8";

.container {
    display: grid;
    grid-template-rows: repeat(3, 150px);
    grid-template-columns: repeat(4, 1fr);
    gap: 2px;
}

.caixa1 {
    background-color: black;
    color: white;
    text-align: center;
    grid-row: 1 / 2;
    grid-column: 1 / 5;
}

.caixa2 {
    background-color: gray;
    text-align: center;
    grid-row: 2 / 4;
    grid-column: 1 / 3;
}

.caixa3 {
    background-color: lightgrey;
    text-align: center;
    grid-row: 2 / 4;
    grid-column: 3 / 5;
}