@charset "UTF-8";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-rows: repeat(10, 50px);
    grid-template-columns: repeat(8, 1fr);
    gap: 2px;
}

.caixa1 {
    background-color: lightblue;
    grid-area: 1 / 1 / 3 / 11;
}

.caixa2 {
    background-color: lightcoral;
    grid-area: 3 / 1 / 4 / 11;
}

.caixa3 {
    background-color: lightgreen;
    grid-area: 4 / 1 / 10 / 7;
}

.caixa4 {
    background-color: lightpink;
    grid-area: 4 / 7 / 10 / 11;
}

.caixa5 {
    background-color: lightyellow;
    grid-area: 10 / 1 / 11 /11;
}