@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');

:root {
    --cor1:#A6E1FA;
    --cor2:#0E6BA8;
    --cor3:#0A2472;
    --cor4:#001C55;
    --cor5:#00072D;
    --font1:"Courgette", cursive;;
}

* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color:lightgray;
}

header > h1 {
    background-color: white;
    font-family: var(--font1);
    font-size: 4em;
    color: var(--cor3);
    padding-left: 20px;
    margin-bottom: 0;
}

header > p {
    background-color: white;
    padding-left: 30px;
    font-family: var(--font1);
    font-size: large;
    margin-top: 0;
}

nav {
    background-color: var(--cor5);
    text-align: end;
    padding: 15px;;
}

a {
    font-family: var(--font1);
    font-size: large;
    font-size: 1.5em;
    text-decoration: none;
    color: var(--cor1);
    margin-right: 40px;
    padding: 15px;

}

a:hover {
    background-color: var(--cor3);
    color: var(--cor1);
    border-radius: 30px;
}

section {
    background-color: white;
}

section > div.inicio {
    background: url(img/wi.jpg);
    background-position: center;
    background-attachment: scroll;
    background-size: cover;
    height: 550px;

}

section > div > h2 {
    font-family: var(--font1);
    color: var(--cor1);
    text-align: right;
}

.planos {
    background-color: white;
    height: 500px;
}

.p1{
    display: inline-block;
    border: 1px solid black;
}

footer {
    text-align: center;
    padding: 5px;
    background-color: var(--cor5);
    color: var(--cor1);
}


